<?xml version="1.0"?>
<!-- Configuration file for RecSys demo  
	 Part 03: Demonstrating external libraries -->

<librec-auto>
	<random-seed>202001</random-seed>
	<thread-count>1</thread-count>
	<library src="system">default-algorithms.xml</library>
	
	<!-- DATA SECTION -->
	<data>
		<data-dir>../data</data-dir>
		<format>UIR</format>
		<data-file format="text">ratings.csv</data-file>
	</data>
	
	<!-- SPLITTER SECTION -->
	<splitter>
		<model count="3">kcv</model>
		<save>true</save>
	</splitter>
	
	<!-- ALGORITHM SECTION -->
	<!-- Using Standard Variational Autoencoder for demonstration purposes. -->
	<alg>
	   <script lang="python3" src="system">
	      <script-name>ms_recommend_wrapper.py</script-name>
	      <param name="model">StandardVAE</param>
	      <param name="LATENT_DIM">50</param>
	      <param name="ENCODER_DIMS">32</param>
	      <param name="INTERMEDIATE_DIM">200</param>
	      <param name="NUM_EPOCHS">100</param>
	      <param name="BATCH_SIZE">128</param>
		  <param name="BINARIZATION_THRESHOLD">3.5</param>
	   </script>
	</alg>

	<!-- METRICS SECTION -->
	<metric>
		<ranking>true</ranking>
		<list-size>10</list-size>
		<class>ndcg,precision</class>
	</metric>
	
	<!-- POST-PROCESSING SECTION -->
	<post>
		<script lang="python3" src="system">
			<script-name>result_graphics.py</script-name>
			<param name="browser">true</param>
		</script> 
	</post> 
</librec-auto>
